.about__button-text {
  padding: 14px 50px;
  margin: 0;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  color: #FFFFFF;
}

@media screen and (max-width: 550px) {
  .about__button-text {
    padding: 12px 30px;
    font-size: 18px;
  }
}
