.header__logo {
  margin: 0;
  color: #75baf8;
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;
  text-transform: uppercase;
}

@media screen and (max-width: 900px) {
  .header__logo {
    font-size: 18px;
  }
}
