.github {
  padding-top: 150px;
  margin: 0 auto;
  width: 80%;
}

@media screen and (max-width: 900px) {
  .github {
    padding-top: 100px;
  }
}

@media screen and (max-width: 500px) {
  .github {
    padding-top: 70px;
  }
}
