.header__link {
  color: #B7C0CB;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  text-decoration: none;
  text-align: center;
  background: none;
  border-radius: 30px;
  padding: 8px 16px;
}

.header__link:hover {
  background: #a1a1a2;
  transition: .3s ease-in-out 0s;
  color: #FFFFFF;
}

@media screen and (max-width: 900px) {
  .header__link {
    font-size: 16px;
    padding: 8px 10px;
  }
}
