.skills__boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 80%;
  margin: 0 auto;
}

@media screen and (max-width: 1000px) {
  .skills__boxes {
    width: 100%;
  }
}

@media screen and (max-width: 800px) {
  .skills__boxes {
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
}
