.skills__boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0 auto;
}

@media screen and (max-width: 970px) {
  .skills__boxes {
    width: 70%;
  }
}


@media screen and (max-width: 850px) {
  .skills__boxes {
    width: 60%;
    flex-direction: column;
    justify-content: space-around;
  }
}

@media screen and (max-width: 700px) {
  .skills__boxes {
    width: 70%;
    flex-direction: column;
    justify-content: space-around;
  }
}

@media screen and (max-width: 500px) {
  .skills__boxes {
    width: 80%;
  }
}

@media screen and (max-width: 400px) {
  .skills__boxes {
    width: 100%;
  }
}
